.container {
  padding: 8px;
  height: 100%;
  overflow-y: auto;
  .containerData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .ant-card {
      margin: 8px 8px 8px 8px;
      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
